header {
    background-color: rgb(75, 68, 68);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo {
        h1 {
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    nav {
        display: flex;
        gap: 25px;

        a {
            padding: 10px;
            text-decoration: none;
            color: white;

        }
    }
}

.active {
    background-color: rebeccapurple;
}